@use "variables" as *;

/* Text Preset 1 - Inter Bold */
@mixin text-preset-1 {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: 0px;
  font-weight: 700;
}

/* Text Preset 2 - Inter Bold */
@mixin text-preset-2 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  line-height: 125%;
  letter-spacing: 0px;
  font-weight: 700;
}

/* Text Preset 3 - Inter Bold */
@mixin text-preset-3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: 700;
}

/* Text Preset 4 - Inter Regular */
@mixin text-preset-4 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 165%;
  letter-spacing: 0px;
  font-weight: 400;
}

/* Text Preset 5 - Lexend Deca Regular */
@mixin text-preset-5 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
