$white-color: hsl(0, 100%, 100%);
$navy-950-color: hsl(233, 47%, 7%);
$blue-950-color: hsl(244, 37%, 16%);
$purple-500-color: hsl(277, 64%, 61%);

$spacing-100: 0.5rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-800: 4rem;
$spacing-900: 4.5rem;
$spacing-1000: 5rem;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
